@media screen and (max-width: 600px) {
  .flight-list {
    width: 98%;
    font-weight: 600;
    table {
      border-spacing: 0 0.3rem;
      width: 100%;
      margin: 0.5rem auto;
      thead {
        font-size: 0.8rem;
        height: 2rem;
        tr th {
          &:first-of-type::after {
            content: "";
          }
          padding: 0;
          padding-left: 0.4rem;
        }
      }
      tbody {
        font-size: 0.8rem;
        tr {
          td {
            padding: 0;
            padding-left: 0.4rem;
            border: solid 1px white;
            border-style: solid none solid none;
            &:last-of-type {
              padding: 0.3rem 0.4rem 0.3rem 0;
            }
          }
        }
        .status {
          p {
            .status-icon {
              display: none;
            }
            span {
              margin-left: 0.4rem;
              padding: 0.3rem 0.3rem;
              max-width: 9rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 500px) and (max-width: 600px) {
  .flight-list {
    table {
      tbody {
        .status {
          p {
            .status-icon {
              display: inline-block;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 601px) and (max-width: 1000px) {
  .flight-list {
    width: 98%;
    font-weight: 600;
    table {
      border-spacing: 0 0.3rem;
      width: 100%;
      margin: 0.5rem auto;
      thead {
        font-size: 0.85rem;
        height: 2.5rem;
        tr th {
          &:first-of-type::after {
            content: " Time";
          }
          padding: 0;
          padding-left: 0.5rem;
        }
      }
      tbody {
        font-size: 0.9rem;
        tr {
          td {
            padding: 0;
            padding-left: 0.4rem;
            border: solid 1px white;
            border-style: solid none solid none;
            &:last-of-type {
              padding: 0.3rem 0.4rem 0.3rem 0;
            }
          }
        }
        .status {
          p {
            span {
              margin-left: 0.5rem;
              padding: 0.4rem;
              max-width: 20rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1001px) and (max-width: 1300px) {
  .flight-list {
    width: 100%;
    font-weight: 600;
    table {
      border-spacing: 0 0.5rem;
      margin: 0.5rem auto;
      thead {
        font-size: 0.8rem;
        height: 2.5rem;
        tr th {
          &:first-of-type::after {
            content: " Time";
          }
          padding: 0;
          padding-left: 3rem;
        }
      }
      tbody {
        font-size: 1rem;
        tr {
          td {
            padding: 0;
            padding-left: 3rem;
            &:last-of-type {
              padding: 0.7rem 0.5rem 0.7rem 0;
            }
          }
        }
        .status {
          p {
            span {
              margin-left: 0.4rem;
              padding: 0.3rem 0.3rem;
              max-width: 9rem;
            }
          }
        }
      }
    }
  }
}
