.flights-container {
  min-height: calc(100vh - 10.5rem);
  background: linear-gradient(90deg, #464646, #000000);
  margin-top: 0.5rem;
  display: flex;

  .info-panel {
    min-height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .filter-container {
    color: white;
    width: 100%;
    .filter-button-container {
      width: 90%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-top: 2rem;
      transition: none;
      .filter-button,
      .filter-reset,
      .close-button {
        cursor: pointer;
        padding: 0.5rem;
        font-size: 0.9rem;
        border-radius: 0.5rem;
      }
      .filter-button {
        color: black;
        background: #f5d836;
        transition: none;
        span {
          transition: none;
        }
      }
      .filter-reset,
      .close-button {
        color: #f5d836;
        background: transparent;
        border: 2px solid #f5d836;
      }
      .selected-countries-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5rem;
        padding-left: 1rem;
        .selected-country {
          background: transparent;
          border: 1px solid #f5d836;
          padding: 0.3rem;
          font-size: 0.9rem;
          border-radius: 0.5rem;
        }
      }
    }
    .filter-options-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .filter-options {
        width: 90%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        font-size: 1rem;
        gap: 1rem;
        padding-top: 1rem;
        text-align: center;
        input[type="checkbox"] {
          margin-right: 0.1rem;
        }
      }
      .apply-button-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .apply-button {
          color: black;
          background: #f5d836;
          cursor: pointer;
          padding: 0.5rem;
          font-size: 0.9rem;
          border-radius: 0.5rem;
          margin-top: 1rem;
        }
        &::after {
          content: "";
          display: block;
          height: 2px;
          width: 50%;
          background-color: white;
          margin: 0 auto;
          margin-top: 1.5rem;
          opacity: 0.5;
        }
      }
    }
  }

  .update-form,
  .update-form2 {
    width: 100%;
  }

  .scroll-top-button {
    position: fixed;
    bottom: 10%;
    right: 1%;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    color: #000000;
    background-color: #f5d836;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    opacity: 0.9;
    animation: breath 1s ease-in-out infinite;
    .scroll-top-icon {
      font-size: 1.25rem;
    }
    &:hover {
      animation: none;
      opacity: 1;
    }
  }

  .scroll-down-button {
    position: fixed;
    bottom: 1%;
    right: 1%;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    color: #000000;
    background-color: #f5d836;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    opacity: 0.9;
    animation: breath 1s ease-in-out infinite;
    .scroll-down-icon {
      font-size: 1.25rem;
    }
    &:hover {
      animation: none;
      opacity: 1;
    }
  }
}

@keyframes breath {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@import "../media/flightDisplay/FlightDetails";
