@media screen and (max-width: 600px) {
  #main-container {
    margin: 0.2rem;
  }
}

@media screen and (min-width: 601px) and (max-width: 1000px) {
  #main-container {
    margin: 0.4rem;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1300px) {
  #main-container {
    margin: 1rem;
  }
}
