@media screen and (max-width: 600px) {
  .icon {
    padding-right: 0.5rem;
  }

  h1 {
    text-align: left;
    font-size: 1.2rem;
    width: 98%;
    margin: auto;
    line-height: 3rem;
  }
}

@media screen and (min-width: 601px) and (max-width: 1000px) {
  .icon {
    padding-right: 0.5rem;
  }

  h1 {
    text-align: left;
    font-size: 1.6rem;
    width: 98%;
    margin: auto;
    line-height: 4rem;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1300px) {
  h1 {
    font-size: 1.9rem;
    width: 90%;
    line-height: 4rem;
  }
}
