#header {
  background: radial-gradient(#ead550, #dfc42e);
  padding: 2rem;
  box-shadow: 0 3px 4px rgba($color: black, $alpha: 0.5);
}

.icon {
  padding-right: 1.5rem;
}

h1 {
  text-align: left;
  font-size: 2.2rem;
}
