.flight-update-form2 {
  animation: delayForm 0.8s ease-in-out;
  animation-iteration-count: 1;
  color: white;
  font-size: 1.257rem;
  font-weight: 600;
  width: 100%;
  cursor: default;
  h1 {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    &::before {
      content: "";
      display: block;
      height: 2px;
      width: 50%;
      background-color: white;
      margin: 0 auto;
      margin-top: 1rem;
      opacity: 0.5;
    }
  }
  form {
    border: 1px solid white;
    padding: 2rem 4rem;
    margin: 0 auto;
    width: 90%;
    border-radius: 0.6rem;
    margin-bottom: 2rem;
    .flight-data-container {
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }
  }
  .flight-data {
    display: flex;
    padding: 0.5rem 0;
  }
  .highlight {
    color: #dfc42e;
    margin-left: 1rem;
  }
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    button {
      padding: 0.7rem 1rem;
      margin: 0.2rem 3rem;
      font-size: 1.257rem;
      font-weight: 600;
      color: #000000;
      background: radial-gradient(#ead550, #dfc42e);
      border-radius: 0.4rem;
      cursor: pointer;
      &:hover {
        box-shadow: 0 3px 5px rgba(255, 255, 255, 0.5);
        border: 1px solid #dfc42e;
      }
      &:active {
        transform: translateY(-2px);
      }
    }
  }
  .left-content,
  .right-content {
    width: 100%;
  }
  .right {
    justify-content: flex-end;
  }
  .status-select-container,
  .destination-select-container,
  .airline-select-container,
  .time-select-container,
  .flightNumber-select-container {
    display: inline-block;
    width: 100%;
    .status-select,
    .destination-select,
    .airline-select,
    .time-select {
      display: flex;
      padding: 0.5rem 0;
      align-items: center;
      justify-content: center;
      select {
        margin-left: 1rem;
        padding: 0.4rem;
        color: #dfc42e;
        background: transparent;
        border: 1px solid #dfc42e;
        font-size: 1.25rem;
        width: 100%;
        border-radius: 0.4rem;
        cursor: pointer;
        option {
          color: #dfc42e;
          background-color: black;
          &:disabled {
            background-color: grey;
            cursor: pointer;
          }
        }
      }
    }
    textarea {
      padding: 0.4rem;
      color: #dfc42e;
      background: transparent;
      border: 1px solid #dfc42e;
      font-size: 1.25rem;
      width: 100%;
      border-radius: 0.4rem;
      resize: none;
    }
    .destination-select,
    .airline-select,
    .time-select {
      select {
        width: 60%;
      }
    }
  }
}
@keyframes delayForm {
  0% {
    transform: translateY(-100%) scaleY(0);
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    transform: translateY(0%) scaleY(1);
    opacity: 1;
  }
}

@import "../media/updateFlight/FlightUpdateForm2";
